.episodes {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.episodeCard {
    display: inline-block;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            width: 250px;
            border: 2px solid #c1c1c1;
            padding: 20px;
            margin-bottom: 15px;
            margin-right: 10px;
            cursor: pointer;
            overflow: hidden;
        }
    }
}