/* You can add global styles to this file, and also import other style files */
.cursor {
    cursor: pointer;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 625px;
}

.loader-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}